@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply rounded-2xl bg-white border-gray-200 border-y border-x shadow-md  overflow-hidden  w-7/12 self-center;
}
.badge {
  @apply top-0 ml-2 p-2 mt-2 text-gray-400   text-xs uppercase font-bold rounded-full;
}
.post-name-container #post-info {
  height: 10rem;
  width: 96%;
  margin-bottom: 0.5rem;
}

h3 {
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
